.post-sticky
  display: inline-block
  margin-right: 8px
  padding: 2px 9px
  font-size: 11px
  font-weight: 500
  letter-spacing: .5px
  line-height: 1.4
  color: #fff
  vertical-align: middle
  background: accent-color
  border-radius: 2px
.post-title
  text-align: center
  font-size: 32px
  font-weight: 600
  color: #1c2430
  letter-spacing: .08em
  line-height: 1.4
.post-title-bar
  padding-top: 18px
  text-align: center
  font-size: 14px
  line-height: 1.6em
  ul li
    display: inline-block
    margin-right: 16px
    font-size: 13px
    color: color-grey
    a
      text-decoration: none
      color: color-grey
      &:hover
        color: main-color
.post-content
  background: color-card
.post-modal
  display: none
  position: fixed
  top: 24%
  left: 50%
  z-index: 120
  padding: 30px
  text-align: center
  color: #727272
  background: #fff
  border-radius: 4px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
  opacity: 0
  transform(translate(-50%, -200%))
  &.ready
    visibility: hidden
    display: block
    transform(translate(-50%, -100%))
    transition(.3s)
  &.in
    visibility: visible
    opacity: 1
    transform(translate(-50%, 0))
  .close
    position: absolute
    right: 10px
    top: 5px
    color: rgba(0, 0, 0, .2)
    font-size: 25px
    font-weight: 800
    line-height: 20px
    &:hover, &:active
      color: rgba(0, 0, 0, .4)
      text-decoration: none